{% extends 'base.html' %}

{% block title %}
Edit Quiz - {{ quiz.title }}
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
    {% if user.contestant.is_admin %}
        <h3>Edit Quiz - {{ quiz.title }}</h3>
        <br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Quiz</button>
        </form></div>

        <br/>
        <p>Changed your mind? <a href="{% url 'admin_panel' %}">Return</a><p>

    {% else %}

        You're not allowed to edit this quiz!

    {% endif %}

{% else %}

    You are not authenticated!

{% endif %}


{% endblock %}