{% extends 'base.html' %}


{% block content %}

    <div>
    <div style="float: left"><br><br>
        <img src="../media/quiz_rules.jpg" alt="quiz_home">
    </div>
    <div style="text-align-last: center">
        <br><h2>Rules:</h2><br>
        <div style="text-align-last: center">
            Earn points by completing quizzes<br/>
            You get points when you complete a quiz for the first time<br/>
            + 10 points for finishing a quiz<br/>
            + 2 points for each correct answer<br/>
            - 1 point for each wrong answer<br/>
            0 points for skipped question<br/>
            <br><b><span style="color: darkgreen">Good luck!</span></b>
        </div>
    </div>
    </div>


{% endblock %}