{% extends 'base.html' %}


{% block title %}Change Password{% endblock %}


{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="login-form-wrap">
      <h2>Change Password</h2>
      <form id="login-form" action="{% url 'password_edit' user.id %}" method="POST">
        {% csrf_token %}
        <p>
        <input class="auth" type="password" id="old_password" name="old_password"
               placeholder="old password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input class="auth" type="password" id="new_password" name="new_password"
                 placeholder="new password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input class="auth" type="password" id="new_password_repeat" name="new_password_repeat"
                 placeholder="repeat new password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input class="auth" type="submit" id="login" value="Change Password">
        </p>
      </form>
    </div>

{% endblock %}