{% extends 'main/base.html' %}


{% block title %}Edit Profile{% endblock %}


{% block content %}
    <div id="login-form-wrap">
      <h2>Edit Profile</h2>

      <br/>
      {{ user.profile.bio }}
      <br/>

      <form id="login-form" action="{% url 'edit_profile' user.id %}" method="POST">
        {% csrf_token %}
        <p>
        <input type="text" id="username" name="username" value="{{ user.username }}" required>
            <i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="password" name="password" placeholder="new password" required>
            <i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="email" name="email" value="{{ user.email }}" required>
            <i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" name="first_name" value="{{ user.first_name }}" required>
            <i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" name="last_name" value="{{ user.last_name }}" required>
            <i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="submit" id="login" value="Update Profile">
        </p>
      </form>
      <div id="create-account-wrap">
        <p>Changed your mind? <a href="{% url 'home' %}">Return</a><p>
      </div>
    </div>
{% endblock %}