{% extends 'main/base.html' %}


{% block title %}Signup{% endblock %}


{% block content %}
    <div id="login-form-wrap">
      <h2>Sign Up</h2>
      <form id="login-form" action="{% url 'signup' %}"  method="POST">
        {% csrf_token %}
        <p>
        <input type="text" id="username" name="username" placeholder="username" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" id="password" name="password" placeholder="password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="email" name="email" placeholder="email" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" name="first_name" placeholder="first name" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="text" name="last_name" placeholder="last name" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
        <input type="submit" id="login" value="Sign Up">
        </p>
      </form>
      <div id="create-account-wrap">
        <p>Have Account? <a href="{% url 'login' %}">Login</a><p>
      </div>
    </div>
{% endblock %}