{% extends 'main/base.html' %}


{% block title %}
{{ post.title }}
{% endblock %}


{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By:
        {{ post.author.username }}<br/>
        {{ post.creation_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                | <a href="{% url 'post_update' post.pk %}">(Edit)</a>
                <a href="{% url 'post_delete' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}
    </small>
    <br/>
    <hr>
    <br/>

    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="snow_station">
    {% endif %}

    <br/><br/>

    {{ post.text|safe }}

    <br><br/>
    <a href="{% url 'home' %}" class="button"><small>Back</small></a>

    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'post_like' post.pk %}"
          method = "POST">
    {% csrf_token %}

    {% if user.is_authenticated %}

        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                    class=""btn btn-danger btn-sm>Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                    class=""btn btn-primary btn-sm>Like</button>
        {% endif %}
    {% else %}
        <small>Login to like</small>

    {% endif %}

        - {{ total_likes }} Likes
    </form>

{% endblock %}