{% extends 'base.html' %}


{% block content %}

    <h3>Posts</h3>
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'post_view' post.pk %}">{{ post.title }}</a>
            <small> - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
            - {{ post.author }} - {{ post.created_at.date }}
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        | <a href="{% url 'post_update' post.pk %}">(Edit)</a>
                        <a href="{% url 'post_delete' post.pk %}">(Delete)</a>
                    {% endif %}
                {% endif %}

            <br/>
            {{ post.snippet }}
            </small>
            </li>

    {% endfor %}
    </ul>

{% endblock %}